.wrapper {
  width: 168.016px;
  height: 33px;
  border-radius: 8.9px;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  padding: 5px 12px;
  margin-right: 20px;
  margin-left: 3px;
}

.heading {
  color: #cbcdd4;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  text-align: center;
}

.value {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  margin: 0;
  text-align: center;
}

.border {
    width: 2px;
    height: 100%;
    background: #1E1E1E;
    margin: 0 12px;
}

@media screen and (width >= 1024px) { 
  .wrapper {
    width: 255.35px;
  height: 42.674px;
  padding: 5px 20px;
  margin-left: initial;
  }

  .heading {
    font-size: 13px;
    margin-bottom: 2px;
  }

  .value {
    font-size: 17px;
  }

  .border {
    margin: 0 21px;
  }
}