/* CardFlippable */
.cardFlipContainer {
  width: 100%;
  height: 100%;
  background-color: transparent;
  perspective: 1000px;
  position: relative;
  text-align: center;
  transition: transform var(--card-flip-transition-time);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform: rotateX(0deg);
  /* -webkit-box-shadow: 0px 9px 7px -9px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 9px 7px -9px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 9px 7px -9px rgba(0, 0, 0, 0.75) !important; */
}

.cardFlipFront,
.cardFlipBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cardFlipFront {
  transform: rotateY(180deg);
}

.cardFlipBack {
  transform: rotateY(0deg);
}
/* CardFrame */
.cardContainer {
  max-width: 100%;
  max-height: 100%;
  /* margin-top: -1px; */
}

.cardAspectRatio {
  padding-top: 140%;
  position: relative;
}

.cardContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.shakeAnimation {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.increaseAnimation {
  animation: increase 1s;
  animation-iteration-count: infinite;
}

/*  CardImage */
.cardDefault {
  border: 1.579px solid #000500;
  border-radius: var(--cardBorderRadiusOut);
  cursor: pointer;

  height: 100%;
}

.cardImage {
  width: 100%;
  height: 100%;
  border-radius: var(--cardBorderRadiusIn);
}

/* CardSpot */
.cardSpotCol {
  z-index: 0;
}

.cardSpot {
  border: var(--cardBorderWidth) solid #000;
  border-radius: var(--cardBorderRadiusOut);
  background: #6e4197;
}

.threeCardModeContainer .cardContainer, .signCardModeContainer .cardContainer {
  margin-top: 0px !important;
}

.threeCardModeContainer .lastInRow .cardAspectRatio {
  animation: threeCardAnimationFirst 0.2s forwards ease-in-out;
}
.threeCardModeContainer .prevInRow .cardAspectRatio {
  animation: threeCardAnimationPrevious 0.2s forwards ease-in-out;
}

@keyframes threeCardAnimationFirst {
  from {
    left: 0px;
  }
  to {
    left: 40px;
  }
}

@keyframes threeCardAnimationPrevious {
  from {
    left: 0px;
  }
  to {
    left: 20px;
  }
}

.threeCardModeContainer
  .animationStyleUndo:nth-last-child(3n + 1)
  .cardAspectRatio {
  animation: threeCardAnimationFirstUndo 0.2s forwards;
}

.threeCardModeContainer
  .animationStyleUndo:nth-last-child(3n + 2)
  .cardAspectRatio {
  animation: threeCardAnimationPreviousUndo 0.2s forwards;
}

@keyframes threeCardAnimationFirstUndo {
  from {
    left: 40px;
  }
  to {
    left: 0px;
  }
}

@keyframes threeCardAnimationPreviousUndo {
  from {
    left: 20px;
  }
  to {
    left: 0px;
  }
}