:root {
  /*  COLORS */
--cardColor: #8db5aa;
--primaryColor: #a52d2d;
--secondaryColor: rgba(255, 255, 255, 0.1);
--darkSecondaryColor: rgba(0, 0, 0, 0.2);
--buttonActiveColor: rgba(0, 0, 0, 0.6);
--hoverElemColor: rgba(0, 0, 0, 0.4);

/*  SIZES */
--cardBorderRadiusOut: 8%;
--cardBorderRadiusIn: 7%;
--cardBorderWidth: 0.15em;
--limitVertical: 20px;
--limitHorizontal: 40px;

/* ANIMATIONS */
--card-flip-transition-time: 0.3s;

/* --game-container-width: calc(100% - 325px); */
--game-container-width: 70%; /* 1280px */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  background: linear-gradient(0deg, #784AA3 0%, #784AA3 100%), #FFF;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

.ant-col-3 {
  display: block;
  flex: 0 0 13.5%;
  max-width: 13.5%;
}

.ant-col-offset-3 {
  margin-left: 14.5%;
}