/* CustomDragLayer */
.cardContainerColumns {
  margin-top: 10px;
}

@media screen and (width >= 400px) {
  .cardContainerColumns {
    margin-top: 15px;
  }
}

@media screen and (width >= 600px) {
  .cardContainerColumns {
    margin-top: 20px;
  }
}

@media screen and (width >= 800px) {
  .cardContainerColumns {
    margin-top: 25px;
  }
}

@media screen and (width >= 1024px) {
  .cardContainerColumns {
    margin-top: 30px;
  }
}

@media screen and (width >= 1280px) {
  .cardContainerColumns {
    margin-top: 35px;
  }
}

@media screen and (width >= 1440px) {
  .cardContainerColumns {
    margin-top: 40px;
  }
}

@media screen and (width >= 1600px) {
  .cardContainerColumns {
    margin-top: 45px;
  }
}

@media screen and (width >= 1920px) {
  .cardContainerColumns {
    margin-top: 50px;
  }
}

@media screen and (width >= 2256px) {
  .cardContainerColumns {
    margin-top: 55px;
  }
}


/* Deck and Flipped Piles */
.deckPile {
  z-index: 100;
}

.columnPile {
  width: 100%;
  height: 100%;
  position: relative;
}

.dragLayer {
    position: fixed;
    pointer-events: none;
    z-index: 100;
    left: 0;
    top: 0;
    width: var(--game-container-width);
    height: 100%;
  }

  /* DraggableCard */

  .cardIsDragging {
    opacity: 0;
  }