
 /* Base Empty Spots */
.baseEmptySpots {
  margin-left: 30px
}

.deckCardSpot {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .redoDeckButton {
    background: transparent;
    border: none;
    color: white;
    height: auto;
    font-size: 50px;
    transition: transform 0.2s;
  }
  
  .redoDeckButton:hover {
    transform: scale(1.5);
  }
  .redoDeckButton:hover, .redoDeckButton:active {
    background:none !important;
  }

  .shakeAnimationButton {
    animation: shakeButton 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shakeButton {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(30deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-30deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  /*  Game Column Wrapper */
.gameColumnsRow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 !important;
}

 /* Game Top Row */
.boardDeckRow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 !important;
}

.boardDeckRowWrapper {
  position: relative;
  margin: 0 0 15px 0 !important;
}

.gameColumnsWrapper {
  padding-bottom: 15%;
  position: relative;
  margin: 0 !important;
}